@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;600&display=swap");

body {
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: "none";
}

.lightMove {
	animation-name: lightMove;
	animation: lightMove 5s infinite;
}

@keyframes lightMove {
	from {
		transform: scale(0.8);
	}
	to {
		transform: scale(1);
	}
}

.rotate {
	animation: rotate-animation 2s linear infinite;
	animation-duration: 1s;
}

.lightAnimation {
	animation: light-animation 5s infinite;
}

.lightPlause {
	animation: light-plause 1s infinite;
}

@keyframes light-plause {
	0%{
		color: red;
	}
	50%{
		color: blue;
	}
	100%{
		color: white;
	}
}

@keyframes light-animation {
	0%{
		transform: rotate(0deg);
		background: rgba(128, 0, 128, 0.4);
	}
	14%{
		transform: rotate(45deg);
		background: rgba(0, 0, 255, 0.4);
	}

	28%{
		transform: rotate(90deg);
		background: rgba(0, 255, 255, 0.4);
	}

	42%{
		transform: rotate(135deg);
		background: rgba(0, 128, 0, 0.4);
	}

	56%{
		transform: rotate(180deg);
		background: rgba(255, 255, 0, 0.4);
	}

	70%{
		transform: rotate(225deg);
		background: rgba(255, 165, 0, 0.4);
	}

	84%{
		transform: rotate(270deg);
		background: rgba(255, 0, 0, 0.4);
	}

	100%{
		transform: rotate(315deg);
		background: rgba(128, 0, 128, 0.4);
	}
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}